version: "3.7"

services:

  aiohttp:
    build: .
    container_name: aiohttp
    volumes:
      - .:/app
    ports:
    - 5000:5000
    depends_on:
      - mongo


  mongo:
    image: mongo:4.2
    container_name: mongo
    ports:
      - 27017:27017
